{% extends 'profile.html' %}

{% block content %}
<div class="card mb-3">
        <div class="card-header">
              <i class="fas fa-table"></i>
            <b>Teacher</b></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>DOB</th>

                        <th> </th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for m in dpt %}
                    <tr>
                        <td>{{ m.teacher_id }}</td>
                        <td>{{ m.teacher_name }}</td>
                        <td>{{ m.teacher_DOB }}</td>

                            <td><a class="btn btn-warning" href="{% url 'EditT' teacher_id=m.teacher_id %}" role="button">Edit</a> </td>

                    </tr>
                    {% empty %}
                            <p>admin has no department</p>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
        </div>
    </div>
{% endblock %}