{% extends 'profile.html' %}

{% block content %}
<div class="card mb-3">
        <div class="card-header">
              <i class="fas fa-table"></i>
            <b>Class</b></div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>class_id</th>
                        <th>class_name</th>

                        <th></th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for m in dpt %}
                    <tr>
                        <td>{{ m.program_id }}</td>
                        <td>{{ m.program_name }}</td>

                            <td><a class="btn btn-warning" href="{% url 'EditCl' program_id=m.program_id %}" role="button">Edit</a> </td>

                    </tr>
                    {% empty %}
                            <p>admin has no department</p>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
        </div>
    </div>
{% endblock %}